<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%-include layout%>
    <div class="contariner">
      <h1><%= title %></h1>
        <div>
          <br>
          <h4>มามะสมุนไพร ยินดีต้อนรับทุกท่านเข้าสู่การแก้ไขปัญหาหนังศีรษะและเส้นผม</h4>
          <div>เราขอต้อนรับทุกท่านเข้าสู่เว็บไซต์ มามะสมุนไพร (Marma Samunprai), มะมาสมุนไพร (Mamma Samunprai) ด้วยความยินดีเป็นอย่างยิ่ง และนี่คือเว็บไซต์ที่จะทําให้ชีวิตผู้มีปัญหาเกี่ยวกับหนังศีรษะและเส้นผม ผมร่วง ผมขาว เปลี่ยนแปลงโดย ปราศจากสารเคมี พร้อมข้อมูล ความรู้เกี่ยวกับสมุนไพรและสุขภาพ...
          </div>
        </div>  
        <div class="story" style="width: 100%">
          <div style="background-color: aqua">as
          </div>
        </div>
    </div>
    <img src="../image/images.jpg">
  </body>
</html>
